body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.rc-table-body {
  text-align: left;
  background-color: white;
  border-radius: 3px;
  background-size: cover;
  box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
  margin: 25px 15px 25px 15px;
  padding: 20px;
}


#x{
  color: red;
  margin-left: 5px;
  background-color: white;
  border: none;
}


th {
  font-size: 1.5em;
}

.form-inline{
  justify-content:center;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30pt;
  margin-bottom: 0;
}

#please{
  font-weight: 600!important;
  padding-top: 23px!important;
  text-align: left!important;
}

#border{
  background-color: #EEE;
}

.logo{
  padding: 0 1em;
  margin-top: 10px;
  float: left;
  height: 70px;
}

#body{
  margin: 5px;
}

.but{
  margin-left: 10px;
}

#createBtn {
  text-align: center;
  margin-top: 50px;
}

#createBtn button {
  line-height: 0;
  width: 90px;
  height: 90px;
  border-radius: 100px;
  font-size: 80px;
  font-weight: bolder;
}

button {
  margin: 10px;
}

.schoolCard {
  background-color: #f4f4f4;
}

.card-title {
  font-weight: bold;
  font-size: 2em;
  padding-left: 9px;
}

#createBtn > button.btn.btn-danger {
  padding-bottom: 18px;
  padding-right: 12px;
}

#createBtn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.schoolCard.card {
    margin: 20px;
}

.schoolCard.card, #root > .container > form {
  box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.15);
  margin: 25px 15px 25px 15px;
  padding: 20px;
}

.form-group {
  margin-top: 2rem;
}

#root > .container > form {
  padding: 20px 60px;
  margin: 10% auto;
  max-width: 400px;
}

label {
  font-weight: bold;
}

button.btn.btn-primary.mr-2 {
  margin-left: 0;
}

#root > .container > h1 {
  margin-top: 50px;
  font-weight: bold;
  margin-top: 50px;
}

.ant-table table {
  box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.15);
  padding: 20px;
  width: 75%;
  margin: 30px auto 20px auto;
}

.ant-table-pagination.ant-pagination {
  text-align: center;
  float: none;
}
